.divCard {
    background-color: rgb(68, 78, 82);
    border: solid 2px black;
    width: 360px;
    margin: 7%;
    padding: 1%;
    padding-top: 4%;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    grid-template-rows: 0.1fr repeat(4, 0.1fr);
    text-align: center;
    margin-top: 25%;
    margin-bottom: -40%;
    color: black;
}

.h2 {
    cursor: text;
    font-size: 90%;
}

.imagen {
    border: solid 2px black;
    border-radius: 10px;
    max-width: 98%;
    height: 270px;
}

.name {
    font-size: 140%;
    padding-bottom: 5%;
} 

.link {
    text-decoration: none;
}